PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.eznfy4o.mongodb.net/hall_management?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
